<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<body>
    <h1 class="title">Menu</h1>
    <div class="container">
        <div class="card">
            <h4>
                Calamarada
            </h4>
            <img src="/images/hamb-negra" alt="Calamarada">
            <p>
                Pan brioche artesanal negro relleno de calamares
                en panko acompañados de rúgula, tomates cherry,
                queso mozarela y salsa alioli.
            </p>
        </div>
        <div class="card">
            <h4>
                Hamburguesa
            </h4>
            <img src="/images/hamb-blanca" alt="Hamburguesa">
            <p>
                Pan brioche artesanal relleno de sobrebarriga
                en reduccion de cerveza negra acompañado de aguacate,
                maíz, suero costeño y chips de plátano.
            </p>
        </div>
        <div class="card">
            <h4>
                Capitan Cosmico
            </h4>
            <img src="/images/cap-cosmico" alt="cap-cosmico">
            <p>
                Pan brioche artesanal relleno de pollo crocante,
                tocineta ahumada, acompañado de pepinillos agridulces,
                queso sabana en salsa ranch de la casa.
            </p>
        </div>
    </div>
    <h1 class="title">Postres</h1>
    <div class="container">
        <div class="card">
            <h4>
                Pie de chocolate
            </h4>
            <img src="/images/pie-chocolate.jpeg" alt="pie-chocolate">
            <p>Servido sobre la mejor masa tipo galleta crujiente,
                relleno con la tradicional receta de chocolate y cubierto
                con finas tiras de masa horneada, salen del horno dorados
                y listos para disfrutarse.</p>
        </div>
        <div class="card">
            <h4>
                Rosa mistica
            </h4>
            <img src="/images/rosa-mistica" alt="rosamistica">
            <p>Bizcocho de almendra, mousse de mascarpone, compota de mora</p>
        </div>
        <div class="card">
            <h4>
                Tartaleta de limon
            </h4>
            <img src="/images/tartele-limon" alt="tartaleta-limon">
            <p>Pastel con base de masa dulce con una capa de crema de 
                limón y otra de merengue por encima.</p>
        </div>
    </div>
    <h1 class="title">Menus Ejecutivos</h1>
    <div class="container">
        <div class="card">
            <h4>
                Menu Italiano
            </h4>
            <!-- <img src="/images/menu-italiano.jpeg" alt=""> -->
            <div class="video-background">
                <video class="video-foreground" muted autoplay loop>
                <source src="/videos/dron.mp4" type="video/mp4">
                </video>
            </div>
            <p></p>
        </div>
        <div class="card">
            <h4>
                Menu Arabe
            </h4>
            <img src="/images/menu-arabe.jpeg" alt="">
            <p></p>
        </div>
        
    </div>
    <div class="container">
        <div class="card">
            <h4>
                Take Away
            </h4>
            <img src="/images/take-away.jpg" alt="">
            <p>
                Lunes a Viernes:
                <br>
                <br>
                12:00 am - 02:30 pm
                <br>
                05:30 pm - 09:30 pm 
                <br>
                <br>
                Sabados y Domingos:
                <br>
                <br>
                12:00 pm - 2:30 pm
                <br>
                05:30 pm - 02:00 am

            </p>
        </div>
        <div class="card">
            <h4>
                Happy Hours
            </h4>
            <img src="/images/happy-hour.png" alt="">
            <p>
                Jueves a Domingos:
                <br>
                <br>
                05:30 pm - 09:00 pm
            </p>
        </div>
    </div>
    <br>
    <%- include('../partials/footer.ejs') %>
</body>

</html>