<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>home</title>
</head>
<body>
    <main>
        <section class="container-principal">
            <div class="principal">
                <h1>Clandestino</h1>
                <h6>2023</h6>
            </div>
        </section>
    
        <section class="container-nosotros">
             <div class="nosotros">
                 <h2>¿Quienes somos?</h2>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum commodi molestias, iure ut cum, ipsa accusamus laboriosam a alias, tempora esse blanditiis atque ad doloribus ullam nobis deleniti veritatis error!</p>
             </div>
        </section>
    
        <section >
            <article class="menu">
                <div>
                    <p>Menú</p>
                    <h4>Nuestros platos</h4>
                    <a href="#"></a>
                </div>
            </article>

            <article class="tragos">
                <div>
                    <p>Bebidas</p>
                    <h4>Tragos y Cervezas</h4>
                    <a href="#"></a>
                </div>
            </article>

            <article class="delivery">
                <div>
                    <p></p>
                    <h4>Take away y Delivery</h4>
                    <a href="#"></a>
                </div>
            </article>

            <article class="ubicacion">
                <div>
                    <p></p>
                    <h4>¿Como llegar?</h4>
                    <a href="#"></a>
                </div>
            </article>
        </section>


    </main>

    <footer>

    </footer>
     
</body>
</html>