<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>


    <main>
      
        <div class="nosotros">
            <h1>¿Quienes somos?</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta laudantium voluptatum illo consequuntur commodi, iusto excepturi ad esse quae obcaecati, qui, harum labore consectetur facere ratione quaerat ipsam molestias eos.</p>
        </div>

        
        <div>
            <h2 class="menu">Menú</h2>
        </div>
          <section class="entradas nombres">

                <h3 class="titulo">Entradas</h3>
             
              <div>
                   <article class="containers">
                    <h4>Pizzetta de Sobrasada <br> y Mozarela di Búfala</h4>
                    <p class="descripciones">Pizza  crujiente con sobrasada (chorizo untable español), cremosa mozarela de búfala, salsa pomodoro  y hojas frescas de albahaca.</p>
                    <img src="../public/images/comida1.png" alt="">
                    <p class="precio">$16,500</p>
                    
                   </article>

                   <article class="containers">
                    <h4>Empanadas Argentinas</h4>
                    <p class="descripciones">Rellenas de carne  de res y pimentón. <br> (3 empanadas)</p>
                    <img src="../public/images/comida2.png" alt="">
                    <p class="precio">$13,000</p>
                   </article>

                   <article class="containers">
                    <h4>Entrada Arabe</h4>
                    <p class="descripciones">2 Kibbes de carne de 90 gramos c/u y pan árabe acompañado de hummus.  </p>
                    <img src="../public/images/comida3.png" alt="">
                    <p class="precio"> $13,000</p>
                   </article>

                   <article class="containers">
                    <h4>Anillos de Calamar</h4>
                    <p class="descripciones">Aros de calamar rebozados en panko, acompañados de mayonesa casera de Sriracha</p>
                    <img src="../public/images/comida4.png" alt="">
                    <p class="precio">$15,500</p>
                   </article>
              </div>
          </section>

          <section class="platos-principales nombres">
              <h3 class="titulo">Platos principales</h3>
              <div>
                   <article class="containers">
                    <h4>Oriente y Occidente</h4>
                    <p class="descripciones">Saam de panceta en cocción lenta aromatizada con jengibre y notas asiáticas junto a Tentáculos de calamar a la mediterránea en reducción de vino tinto y vinagre balsámico.
               <br> Acompañamiento: ensalada fresca del día.</p>
                    <img src="../public/images/comida6.png" alt="">
                    <p class="precio">$32.000</p>
                   </article>

                   <article class="containers">
                    <h4>Steak Fiorito</h4>
                    <p class="descripciones">Filete de lomo ancho de res (200 gr.) en cocción de mantequilla y finas hierbas acompañado de puré cremoso  y ensalada Fiorito de jamón serrano, queso azul, rúgula, tomates y cebolla morada.</p>
                    <img src="../public/images/comida7.png" alt="">
                    <p class="precio">$31.000</p>
                   </article>

                   <article class="containers">
                    <h4>Salmón Tender</h4>
                    <p class="descripciones">Salmón sellado en aceite de oliva y sal gruesa, sobre una cama de puré de ripio de papa y aire de estragón y almendras acompañado de espinaca y tomate cherry.</p>
                    <img src="../public/images/comida8.png" alt="">
                    <p class="precio">$30.000</p>
                   </article>
            </div>
          </section>
           
          <section class="sangucheria nombres">
              <h3 class="titulo">Sangucheria</h3>
              <div>
                   <article class="containers">
                    <h4>Calamarada</h4>
                    <p class="descripciones">Pan brioche artesanal negro relleno de calamares en panko acompañados de rúgula, tomates cherry, queso mozarela y salsa alioli.</p>
                    <img src="../public/images/comida9.png" alt="">
                    <p class="precio">$16,000</p>
                   </article>

                   <article class="containers">
                    <h4>Chancho Arriero</h4>
                    <p class="descripciones">Pan brioche artesanal relleno de cabecero de lomo acompañado de aros de cebolla, queso mozarela, rúgula y BBQ de café.   </p>
                    <img src="../public/images/comida10.png" alt="">
                    <p class="precio">$15,000</p>
                   </article>

                   <article class="containers">
                    <h4>La Negra</h4>
                    <p class="descripciones">Pan brioche artesanal relleno de sobrebarriga en reduccion de cerveza negra acompañado de aguacate, maíz, suero costeño y chips de plátano.</p>
                    <img src="../public/images/comida11.png" alt="">
                    <p class="precio">$14,000</p>
                   </article>

                   <article class="containers">
                    <h4>Choricheto</h4>
                    <p class="descripciones">Choripán clásico argentino en pan artesanal suave relleno de chorizo y chimichurri rojo.</p>
                    <img src="../public/images/comida12.png" alt="">
                    <p class="precio">$12,500</p>
                   </article>

                   <article class="containers">
                    <h4>Habibi</h4>
                    <p class="descripciones">Sánduche de falafel en pan árabe acompañado de cebolla morada, tomate cherry,  perejil, cilantro, limón y salsa de yogur.</p>
                    <img src="../public/images/comida13.png" alt="">
                    <p class="precio">$15,500</p>
                   </article>

                   <article class="containers">
                    <h4>Capitán Cósmico</h4>
                    <p class="descripciones">Pan brioche artesanal relleno de pollo crocante, tocineta ahumada, acompañado de pepinillos agridulces, queso sabana en salsa ranch de la casa.</p>
                    <img src="../public/images/comida14.png" alt="">
                    <p class="precio">$13,500</p>
                   </article>
              </div>
          </section>

          <section class="hamburguesas nombres">
              <h3 class="titulo">Hamburguesas</h3>
              <div>
                   <article class="containers">
                    <h4>Clandestina</h4>
                    <p class="descripciones">Hamburguesa en pan brioche doble carne de 125 gramos C/U, doble tocineta, doble queso (mozarela y sabana), aros de cebolla, lechuga, BBQ casera de Ron Viejo de Caldas.</p>
                    <img src="../public/images/comida15.png" alt="">
                    <p class="precio">$19,000</p>
                   </article>

                   <article class="containers">
                    <h4>Francesa</h4>
                    <p class="descripciones">Hamburguesa en pan brioche con carne artesanal de 200 gramos rellena de nips de tocineta, acompañada de cebollas caramelizadas, queso sabana, rúgula y salsa de queso azul.</p>
                    <img src="../public/images/comida16.png" alt="">
                    <p class="precio">$20,000</p>
                   </article>

                   <article class="containers">
                    <h4>Mediterránea</h4>
                    <p class="descripciones">Hamburguesa en pan brioche con carne artesanal de 200 gramos rellena de peperoni, chorizo español y queso parmesano acompañada de rúgula, queso mozarela, tomate cherry al balsámico y pesto de albahaca.</p>
                    <img src="../public/images/comida20.png" alt="">
                    <p class="precio">$20,500</p>
                   </article>
            </div>
          </section>

          <section class="acompañamientos nombres">
              <h3 class="titulo">Acompañamientos y Combos</h3>
              <div>
                   <article class="containers">
                    <h4>Papas a la Francesa</h4>
                    <img src="../public/images/comida17.png" alt="">
                    <p class="precio">$3,500</p>
                    <!-- <p class="descripciones"></p> -->
                   </article>

                   <article class="containers">
                    <h4>Papas Criollas</h4>
                    <img src="../public/images/comida18.png" alt="">
                    <p class="precio">$3,500</p>
                    <!-- <p class="descripciones"></p> -->
                   </article>

                   <article class="containers">
                    <h4>Combos</h4>
                    <p class="descripciones">Papas + Gaseosa 400 ml o Té de 300 ml. <br>
                     Aplica solo si por la compra de algún de los sánduches y/o hamburguesas de la carta</p>
                    <img src="../public/images/comida19.png" alt="">
                    <p class="precio">$5,000</p>
                   </article>
              </div>
          </section>
        
          <section class=" ">
              <h3 class="titulo">Cervezas</h3>
              <div class="container-lista">

                  <ul >
                    <div class="lista-in"><li class="cervezas">Sulata</li>
                    <div class="container-parrafo-precio"><p class="parrafos">Pale ale/ Irish Red/ Stout</p> <p class="precio-cerveza">$11,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">6 almas</li>
                    <div class="container-parrafo-precio"><p class="parrafos">Amber/ Brown Ale</p> <p class="precio-cerveza">$11,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-in"><li class="cervezas">2 Hileras</li>
                    <div class="container-parrafo-precio"><p class="parrafos">Musa Ipa</p> <p class="precio-cerveza">$11,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">Club Colombia</li>
                    <div class="container-parrafo-precio"><p class="parrafos">Dorada/ Negra/ Roja</p> <p class="precio-cerveza">$6,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-in"><li class="cervezas">BBC</li>
                    <div class="container-parrafo-precio"> <p class="parrafos">Cajica/ Monserrate/ Chapinero</p> <p class="precio-cerveza">$7,500</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">Andina</li>
                    <div class="container-parrafo-precio"> <p class="parrafos">lager (rubia)</p> <p class="precio-cerveza">$4,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-in"><li class="cervezas">Aguila Cero</li> 
                    <div class="container-parrafo-precio"><p class="parrafos">Sin alcohol</p> <p class="precio-cerveza">$5,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">Tres Cordilleras</li> 
                    <div class="container-parrafo-precio"><p class="parrafos">Mulata/ Negra/ Rosada</p> <p class="precio-cerveza">$7,500</p>
                    </div>
                    </div>
                    
                    <div class="lista-in"><li class="cervezas">Heineken</li>
                    <div class="container-parrafo-precio"><p class="parrafos">330cm3: <br> 250cm3:</p> <p class="precio-cerveza">$7,000 <br> $4,500</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">Corona</li>
                    <div class="container-parrafo-precio"><p class="parrafos">Light Lager</p> <p class="precio-cerveza">$8,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-in"><li class="cervezas">Grolsch</li>
                    <div class="container-parrafo-precio"><p class="parrafos">Corcho 450ml: <br> Corcho 330ml: </p> <p class="precio-cerveza">$10,000 <br> $7,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">Peroni</li>
                    <div class="container-parrafo-precio"> <p class="parrafos">Premium Lager</p> <p class="precio-cerveza">$8,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-in"><li class="cervezas">Stella Artois</li> 
                    <div class="container-parrafo-precio"><p class="parrafos">Lager Pilsner</p> <p class="precio-cerveza">$10,000</p>
                    </div>
                    </div>
                    
                    <div class="lista-par"><li class="cervezas">Sol</li>
                    <div class="container-parrafo-precio"><p class="parrafos">lager Premium</p> <p class="precio-cerveza">$6,500</p>
                    </div>
                    </div>
                  </ul>
              </div>
          </section>  

          <section class="bebidas">
              <h3 class="titulo">Bebidas</h3>
              <div>
                   <article>
                    <img src="" alt="">
                    
                   </article>
                   <article>
                    <img src="" alt="">
                    
                   </article>
                   <article>
                    <img src="" alt="">
                    
                   </article>
              </div>
          </section>

    </main>

    <footer>

    </footer>
</body>
</html>