<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oswald&family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <main>
        <section class="container-principal">
      <div class="principal"> 
            <img src="/images/Cladestino _Logo-01copia.png" alt="" class="img-principal">         
                <h1>Clandestino</h1>
                <h6>2023</h6>
            </div>
      
        </section>
    
        <section class="container-nosotros">
             <div class="nosotros">
                 <h2>¿Quienes somos? </h2>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum commodi molestias, iure ut cum, ipsa accusamus laboriosam a alias, tempora esse blanditiis atque ad doloribus ullam nobis deleniti veritatis error!</p>
             </div>
        </section>
    
        <section class="home">
            <article class="menu">
                    <div class="container-img">
                        <img src="images/fondo10.png" alt="" class="img">
                    </div>
                    <div class="container-descripcion">
                        <p>Menú</p>
                        <h4>Nuestros platos</h4>
                        <a href="#">menu</a>
                    </div>
                
            </article>

            <article class="tragos">
                <div class="container-img">
                    <img src="images/fondo10.png" alt="" class="img">
                </div>
                <div class="container-descripcion">
                    <p>Bebidas</p>
                    <h4>Tragos y Cervezas</h4>
                    <a href="#">bebidas</a>
                </div>
            </article>
      </section>
      <section class="home">
            <article class="delivery">
                <div class="container-img">
                    <img src="images/fondo10.png" alt="" class="img">
                </div>
                <div class="container-descripcion">
                    <p></p>
                    <h4>Take away y Delivery</h4>
                    <a href="#">leer mas...</a>
                </div>
                
            </article>

            <article class="ubicacion">
                <div class="container-img">
                    <img src="images/fondo10.png" alt="" class="img">
                </div>
                <div class="container-descripcion">
                    <p></p>
                    <h4>¿Como llegar?</h4>
                    <a href="#">leer mas...</a>
                </div>
            </article>
        </section>


    </main>

    <footer>
          <section class="container-footer">

            <article class="container-logo-footer">
                <img src="/images/Cladestino _Logo-04.png" alt="" class="logo-footer">
             </article>
             
             <article class="container-contacto">
                  <div>
                    <h2>Contacto y <br> Ubicacion </h2>
                  </div>
                 <div class="contactos">
                    <p class="mail-contacto">Calle 9999</p>
                    <p class="mail-contacto">clandestino@gmail.com</p> 
                    <p class="numero-contacto">15 5478 1233</p>
                    
                 </div>
             </article>
      
             <article class="container-redes">
               <div>
                <h2>  Siguenos en <br> nuestras redes</h2>
               </div>
                <div class="container-iconos">
                    <a href="#"><i class="fab fa-instagram">Instagram</i></a>
                    <a href="#"><i class="fab fa-twitter icono-twiter">Twiter </i> </a>
                    <a href="#"><i class="fab fa-facebook-square">Facebook</i></a>
                </div>
             </article>
  
              <article class="container-form-footer">
                 <form action="/" method="post" class="form-footer"> 
                     <div class="container-label-footer">
                        <label for="nombre">Dejanos un <br> comentario!!!</label>
                     </div>
                 <div class="container-inputs">
                
                     <input type="text" name="nombre" id="nombre" placeholder="nombre">
      
                     <input type="text" placeholder="nombre de usuario" name="nombre-usuario" id="nombre-usuario">

                     <textarea name="mensajes"placeholder="mensaje" id="" cols="24" rows="10"></textarea>

                    <a href="/" class="a-button"> <button class="button" value="Enviar" >Enviar</button> </a>
                </div>
                     </form>
              </article>
          </section>

            <p class="copyright">Copyright ©  Clandestino Bar. Todos los derechos reservado</p>         
    </footer>
    
</body>
</html>