<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="caja "><img src="/images/logo.png" alt="" height="100%" width="100%"></div>
        <h5 class="caja">Home</h5>
        <h5 class="caja">¿Como llegar?</h5>
        <h5 class="caja">Delivery</h5>
        <h5 class="caja">Menu</h5>
        <h5 class="caja">Reservas</h5>
        <h5 class="caja">Login</h5>
        <h5 class="caja">Sign-up</h5>
        <div class="boton caja"></div>
        <div class="boton caja"></div>
    </header>
    
</body>
</html>