<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Menu</title>
</head>
<header>
    <div class="caja "><img src="/images/logo.png.png" alt="" height="100%" width="100%"></div>
    <h5 class="caja"><a href="#"> Home</a></h5>
    <h5 class="caja">¿Como llegar?</h5>
    <h5 class="caja">Delivery</h5>
    <h5 class="caja">Menu</h5>
    <h5 class="caja">Reservas</h5>
    <h5 class="caja">Login</h5>
    <h5 class="caja">Sign-up</h5>
    <div class="boton caja"></div>
    <div class="boton caja"></div>
</header>

<body>
    <h1 class="title">Menu</h1>
    <div class="container">
        <div class="card">
            <h4>
                Calamarada
            </h4>
            <img src="/images/hamb-negra" alt="Calamarada">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Hamburguesa
            </h4>
            <img src="/images/hamb-blanca" alt="Hamburguesa">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Capitan Cosmico
            </h4>
            <img src="/images/cap-cosmico" alt="cap-cosmico">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>
    <h1 class="title">Postres</h1>
    <div class="container">
        <div class="card">
            <h4>
                Pie de chocolate
            </h4>
            <img src="/images/pie-chocolate.heic" alt="pie-chocolate">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Rosa mistica
            </h4>
            <img src="/images/rosa-mistica" alt="rosamistica">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Tartaleta de limon
            </h4>
            <img src="/images/tartele-limon" alt="tartaleta-limon">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>
    <h1 class="title">Cocktails</h1>
    <div class="container">
        <div class="card">
            <h4>

            </h4>
            <img src="/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>

            </h4>
            <img src="/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>

            </h4>
            <img src="/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h4>
                Take Away
            </h4>
            <img src="/images/take-away.jpg" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Happy Hours
            </h4>
            <img src="/images/happy-hour.png" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>

</body>

</html>