<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart</title>
    <link rel="stylesheet" href="/css/styles-cart2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>
<body>
	<aside class="my-shoppingcart">
<h1> <i class="fas fa-truck" id="truck"></i> Mi Orden</h1>

		<div class="cart-container">
			<div class="cart-item">
				<figure>
					<img src="/images/delivery-products/hamburguesas/mediterranea.jpg" alt="Mediterránea">
				</figure>
				<div class="info-product">
					<h2>Mediterránea</h2>
					<p class="price">$27,000</p>
					<i class="fas fa-arrow-circle-left" id="arrow"></i> <button id="number"> 1 </button> <i class="fas fa-arrow-circle-right" id="arrow"></i> 
					<button><i class="fas fa-trash-alt"></i></button>		
			</div>
			</div>
			<div class="cart-item">
				<figure>
					<img src="/images/delivery-products/acompañamientos/papas-amarilas.jpg" alt="Papas Amarillas">
				</figure>
				<div class="info-product">
					<h2>Papas Amarillas</h2>
					<p class="price">$5,000</p>
					<i class="fas fa-arrow-circle-left" id="arrow"></i> <button id="number"> 1 </button> <i class="fas fa-arrow-circle-right" id="arrow"></i>
					<button><i class="fas fa-trash-alt"></i></button>	
				</div>
			</div>
			<div class="cart-item">
				<figure>
					<img src="/images/delivery-products/cervezas/stella-artois.jpg" alt="Stella Artois">
				</figure>
				<div class="info-product">
					<h2>Stella Artois</h2>
					<p class="price">$12,000</p>
					<i class="fas fa-arrow-circle-left" id="arrow"></i> <button id="number"> 1 </button> <i class="fas fa-arrow-circle-right" id="arrow"></i>
					<button><i class="fas fa-trash-alt"></i></button>		
				</div>
			</div>
		</div>
		<div class="cart-total">
			<h3>Total:</h3>
			<span class="total-pagar"> $44,000 </span>
			<p class="metodo-de pago">
				<label>Metodo de Pago:<br>
						<input type="radio" name="pay-method">Efectivo
						<input type="radio" name="pay-method">Tarjeta Débito/Crédito
				</label>
			</p>
			<button id="cuopon">¿tienes un supón de descuento?</button> 
		</div>
		<div class="pay-cart">
			<button id="add">Más productos</button> 
			<button id="pay">PAGAR</button> 
		</div>				
</aside>
<script src="product.js"></script>
</body>
</html>


	
		
