<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart</title>
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<header>
    <div class="caja "><img src="/images/cladestino-logo.png" alt="" height="100%" width="100%"></div>
    <h5 class="caja"><a href="/index">Home</a></h5>
    <h5 class="caja">¿Como llegar?</h5>
    <h5 class="caja"><a href="/productCart">Delivery</a></h5>
    <h5 class="caja"><a href="/productDetail">Menu</a></h5>
    <h5 class="caja">Reservas</h5>
    <h5 class="caja">Login</h5>
    <h5 class="caja">Sign-up</h5>
    <h5 class="caja"><div class="container-icon"><a href="#"><i class="fas fa-shopping-bag">3</i></a>
    </div></h5>
</header>
<aside class="my-shoppingcart">
    <h1> <i class="fas fa-truck" id="truck"></i> Mi Orden</h1>
        <div class="cart-container">
            <div class="cart-item">
                <figure>
                    <img src="/images/delivery-products/hamburguesas/mediterranea.jpg" alt="Mediterránea">
                </figure>
                <div class="info-product">
                    <h4>Mediterránea</h4>
                    <p class="price-cart">$27,000</p>
                    <i class="fas fa-arrow-circle-left" id="arrow"></i> <button id="number"> 1 </button> <i class="fas fa-arrow-circle-right" id="arrow"></i> 
                    <button id="trash"><i class="fas fa-trash-alt"></i></button>		
                </div>
            </div>
            <div class="cart-item">
                <figure>
                    <img src="/images/delivery-products/acompañamientos/papas-amarilas.jpg" alt="Papas Amarillas">
                </figure>
                <div class="info-product">
                    <h4>Papas Amarillas</h4>
                    <p class="price-cart">$5,000</p>
                    <i class="fas fa-arrow-circle-left" id="arrow"></i> <button id="number"> 1 </button> <i class="fas fa-arrow-circle-right" id="arrow"></i>
                    <button id="trash"><i class="fas fa-trash-alt"></i></button>	
                </div>
            </div>
            <div class="cart-item">
                <figure>
                    <img src="/images/delivery-products/cervezas/stella-artois.jpg" alt="Stella Artois">
                </figure>
                <div class="info-product">
                    <h4>Stella Artois</h4>
                    <p class="price-cart">$12,000</p>
                    <i class="fas fa-arrow-circle-left" id="arrow"></i> <button id="number"> 1 </button> <i class="fas fa-arrow-circle-right" id="arrow"></i>
                    <button id="trash"><i class="fas fa-trash-alt"></i></button>		
                </div>
            </div>
        </div>
        <div class="cart-total">
            <h5>Total:</h5>
            <span class="total-payable"> $44,000 </span>
            <p class="payment-method">
            <label>Metodo de Pago:<br>
            <input type="radio" name="payment-method">Efectivo
                <input type="radio" name="payment-method">Tarjeta Débito/Crédito
                </label>
            </p>
            <form action="#" method="GET"></form>
                    <label for="search" id="coupon">
                        <input type="text" placeholder="¿Tienes un cupón de descuento?">
                    </label>    
        </div>
            <div class="pay-cart">
                <button id="add"><i class="fas fa-cart-plus"></i> añadir productos</button> 
                <button id="pay"><i class="fas fa-coins"></i> PAGAR</button> 
            </div>				
</aside>
<main>
    <h2>Sánduches</h2>
        <div class="product-container">
            <div class="item">
                <h3>Calamarada</h3>
                <img src="/images/delivery-products/sanduches/calamarada.jpg" alt="Calamarada">
                <p class="description">Pan brioche artesanal negro relleno de calamares en panko acompañados de rúgula, tomates cherry, queso mozarela y salsa alioli.</p>
                <p class="price">$21,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>    
            <div class="item">
                <h3>Capitán Cósmico</h3>
                <img src="/images/delivery-products/sanduches/capitan-cosmico.jpg" alt="Capitán Cósmico">
                <p class="description">Pan brioche artesanal relleno de pollo crocante, tocineta ahumada, acompañado de pepinillos agridulces, queso sabana en salsa ranch de la casa.</p>
                <p class="price">$20,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Chancho Arriero</h3>
                <img src="/images/delivery-products/sanduches/chancho-arriero.jpg" alt="Chancho Arriero">
                <p class="description">Pan brioche artesanal relleno de cabecero de lomo acompañado de aros de cebolla, queso mozarela, rúgula y BBQ de café.</p>
                <p class="price">$19,900</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div> 
            <div class="item">
                <h3>Choricheto</h3>
                <img src="/images/delivery-products/sanduches/choricheto.jpg" alt="Choricheto">
                <p class="description">Choripán clásico argentino en pan artesanal suave relleno de chorizo y chimichurri rojo. *ligeramente picante</p>
                <p class="price">$15,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Habibi</h3>
                <img src="/images/delivery-products/sanduches/habibi.jpg" alt="Habibi">
                <p class="description">Sánduche de falafel en pan árabe acompañado de cebolla morada, tomate cherry,  perejil, cilantro, limón y salsa de yogur. *vegetariano</p>
                <p class="price">$20,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>La Negra</h3>
                <img src="/images/delivery-products/sanduches/la-negra.jpg" alt="La Negra">
                <p class="description">Pan brioche artesanal relleno de pollo crocante, tocineta ahumada, acompañado de pepinillos agridulces, queso sabana en salsa ranch de la casa.</p>
                <p class="price">$19,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
        </div>
     <h2>Hamburguesas</h2>
        <div class="product-container">
            <div class="item">
                <h3>Clandestina</h3>
                <img src="/images/delivery-products/hamburguesas/clandestina.jpg" alt="Clandestina">
                <p class="description">Hamburguesa en pan brioche doble carne de 125 gramos C/U, doble tocineta, doble queso (mozarela y sabana), aros de cebolla, lechuga, BBQ casera de Ron.</p>
                <p class="price">$24,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Francesa</h3>
                <img src="/images/delivery-products/hamburguesas/francesa.jpg" alt="Francesa">
                <p class="description">Carne artesanal de 200 gramos rellena de nips de tocineta, acompañada de cebollas caramelizadas, queso sabana, rúgula y salsa de queso azul.</p>
                <p class="price">$26,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Mediterránea</h3>
                <img src="/images/delivery-products/hamburguesas/mediterranea.jpg" alt="Mediterránea">
                <p class="description">Carne artesanal de 200 gramos rellena de peperoni, chorizo español y parmesano con rúgula, queso mozarela, tomate cherry al balsámico y pesto de albahaca.</p>
                <p class="price">$27,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
        </div>
    <h2>Acompañamientos</h2>
        <div class="product-container">
            <div class="item">
                <h3>Papas Amarillas</h3>
                <img src="/images/delivery-products/acompañamientos/papas-amarilas.jpg" alt="Papas Amarillas">
                <p class="description">porción de 85 gramos</p>
                <p class="price">$5,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Papas Fritas</h3>
                <img src="/images/delivery-products/acompañamientos/papas-fritas.jpg" alt="Papas Fritas">
                <p class="description">porción de 85 gramos</p>
                <p class= "price">$5,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
        </div>
    <h2>Bebidas</h2>
        <div class="product-container">
            <div class="item">
                <h3>Coca Cola</h3>
                <img src="/images/delivery-products/bebidas/coca-cola.jpg" alt="Coca Cola">
                <p class="description">350 ml</p>
                <p class="price">$4,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Coca Cola Zero</h3>
                <img src="/images/delivery-products/bebidas/cc-zero.jpg" alt="Coca Cola Zero">
                <p class="description">350 ml</p>
                <p class= "price">$4,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Sprite</h3>
                <img src="/images/delivery-products/bebidas/sprite.jpg" alt="Sprite">
                <p class="description">350 ml</p>
                <p class= "price">$4,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
        </div>
    <h2>Cervezas artesanales</h2>
        <div class="product-container">
            <div class="item">
                <h3>Don Fermin 18.34</h3>
                <img src="/images/delivery-products/cervezas/artesanal-1834-ipa.jpg" alt="Don Fermin 18.34 IPA">
                <p class="description">IPA. Cerveza dorada con notas rojizas en la cual predominan los aromas a frutas tropicales. (6 % Vol. alcohol - 65 IBU)</p>
                <p class="price">$12,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Bilröst</h3>
                <img src="/images/delivery-products/cervezas/artesanal-bilrost-hefe-weizenbier.jpg" alt="Bilrost Hefe Weizenbier">
                <p class="description">Hefe Weizenbier. Cerveza de trigo, de color claro, algo turbia, con un característico aroma a plátano. (5.5 Vol. alcohol - 25 IBU)</p>
                <p class= "price">$12,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Sulata</h3>
                <img src="/images/delivery-products/cervezas/artesanal-sulata-pale-ale.jpg" alt="Sulata Pale Ale">
                <p class="description">Pale Ale. Cerveza con aromas herbales y resinosos aportados por el lúpulo. (5.7 Vol. alcohol - 40 IBU)</p>
                <p class= "price">$12,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
        </div>
    <h2>Cervezas del mundo</h2>
        <div class="product-container">
            <div class="item">
                <h3>Grolsch</h3>
                <img src="/images/delivery-products/cervezas/grolsch.jpg" alt="Grolsch">
                <p class="description">Paises Bajos - Pilsner premium lager</p>
                <p class="price">$9,500</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Heineken</h3>
                <img src="/images/delivery-products/cervezas/heineken.jpg" alt="Heineken">
                <p class="description">Paises Bajos - Pilsner premium lager</p>
                <p class= "price">$7,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Peroni</h3>
                <img src="/images/delivery-products/cervezas/peroni.jpg" alt="Peroni">
                <p class="description">Italia - Pilsner premium lager</p>
                <p class= "price">$9,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
            <div class="item">
                <h3>Stella Artois</h3>
                <img src="/images/delivery-products/cervezas/stella-artois.jpg" alt="Stella Artois">
                <p class="description">Bélgica - Pilsner premium lager</p>
                <p class= "price">$12,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>
        </div>
</main>
<footer>
</footer>
    
</body>
</html>