<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/grupo_1_clandestino/public/css/styles.css">

    <title>Menu</title>
</head>

<body>
    <h1 class="title">Menu</h1>
    <div class="container">
        <div class="card">
            <h4>
                Calamarada
            </h4>
            <img src="/grupo_1_clandestino/public/images/hamb-negra" alt="Calamarada">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Hamburguesa
            </h4>
            <img src="/grupo_1_clandestino/public/images/hamb-blanca" alt="Hamburguesa">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Capitan Cosmico
            </h4>
            <img src="/grupo_1_clandestino/public/images/cap-cosmico" alt="cap-cosmico">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>
    <h1 class="title">Postres</h1>
    <div class="container">
        <div class="card">
            <h4>
                Pie de chocolate
            </h4>
            <img src="/grupo_1_clandestino/public/images/pie-chocolate.heic" alt="pie-chocolate">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Rosa mistica
            </h4>
            <img src="/grupo_1_clandestino/public/images/rosa-mistica" alt="rosamistica">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Tartaleta de limon
            </h4>
            <img src="/grupo_1_clandestino/public/images/tartele-limon" alt="tartaleta-limon">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>
    <h1 class="title">Cocktails</h1>
    <div class="container">
        <div class="card">
            <h4>

            </h4>
            <img src="/grupo_1_clandestino/public/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>

            </h4>
            <img src="/grupo_1_clandestino/public/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>

            </h4>
            <img src="/grupo_1_clandestino/public/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h4>
                Take Away
            </h4>
            <img src="/grupo_1_clandestino/public/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
        <div class="card">
            <h4>
                Happy Hours
            </h4>
            <img src="/grupo_1_clandestino/public/images/" alt="">
            <a href="#">...pasar imagenes</a>
        </div>
    </div>

</body>

</html>