body {
    font-family: "Roboto";
    padding: 20px;
    border: 15px;
    background-color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    width:200px;
    height:150px;
    margin-bottom: 0px;
}
@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
    src: url ('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300;400&display=swap');
}

form{
    display: contents;
}

form input {
    width: 200px;
    height: 90%;
    border: solid 1px #FFC800;
    border-radius: 5px;
    background-color: #FFC800;
    align-items: center;
    margin: 15px auto;
    margin-left:10px;
    order: 1;    
}

form input:focus { 
    border: 1px solid #FFC800;
}

form ::placeholder {
    font-family: "Roboto";
    color: white;
    font-size: 1rem;
}

h1 {
    font-family: "Roboto";
    color: white;
    text-align: center;
    margin-top: 0px;
}

h2 {
    font-family: "Roboto", regular;
    color: white;
    font-size: 1rem;
    text-align: center;
}

h3 {
    font-family: "Roboto";
    color: white;
    font-size: 1rem;
    text-align: center;
}

.button {
    text-align: center;
}

button {
    width: 200px;
    height: 40px;
    font-family: "Roboto";
    font-size: 1rem;
    color: white;
    border: solid 1px #FFC800;
    background-color: #FFC800;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    transition: all 0.5s;

}
button:hover{
    background-color: #aa8500;
    cursor: pointer;

} 

.nombre-login {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC800;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFC800;

}
.fa-user-plus{
    color:white;
    border: solid 1px #FFC800;
    order:2;
    margin-right:10px;
}
.contraseña-login {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC800;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFC800;
}
.recuerdame{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 200px;
    height: 100%;
}
.fa-eye-slash{
    color:white;
    border: solid 1px #FFC800;
    order:2;
    margin-right:10px;
}

.error-msg{
    color: #FFC800;
    margin-bottom: 20px;
}
.border-msg{
    border: solid 1px white;
}

