@font-face {
    font-family: 'Afterglow';
    src: url('../fonts/Afterglow-Regular.ttf');
}

.container-header {
    display: flex;
    border: solid 1px black;
    background-color: black;
    color: white;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.container-icon {
    width: 30px;
    margin-left: 10px;
    padding-left: 5px;
}

#anchor-header {
    color: #FFC900;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}

.nav-bar {
    display: none;
}

.container-nav-fija {
    order: solid 1px black;
    display: flex;
    color: #FFC900;
    text-decoration: none;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 8px;
}

header img {
    height: 95px;
    object-fit: fill;
}

/*PRUEBA DE LISTA DESPLEGABLE*/
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    background-color: #FFC900;
}

#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    font-family: 'Afterglow';
    letter-spacing: 1px;
}


#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#menu ul li:hover {
    background: gray;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

#menu ul ul li {
    float: none;
    width: 150px
}

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#menu ul li:hover>ul {
    display: block;
}

.container-burguer {
    width: 30px;
    text-align: center;
    object-fit: fill;
    border-radius: 8px;
    margin-right: 10px;
    padding-right: 10px;
}

.burguer-button {
    display: block;
    background-color: #FFC900;
    color: white;
    padding: 15px 0;
    max-width: 45px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    align-items: center;
    margin: auto;
}

@media(min-width:760px) {
    #menu {
        display: none;
    }

    .nav-bar {
        display: flex;
        width: 75px;
    }

    #anchor-header {
        color: #FFC900;
        text-decoration: none;
        font-size: 10px;
    }
}

@media(min-width:1200px) {
    #anchor-header {
        color: #FFC900;
        text-decoration: none;
        font-size: 14px;
    }
    .container-nav-fija{
        padding: 15px;
    }
}