body{
    font-family: "Roboto";
    padding: 20px;
    border: 15px;
    background-color: rgb(186, 183, 190);
    display: flex;
    flex-direction: column;

}

form div input{

width: 200px;
height: 30px;
color: white;   
display: flex;
border: solid 1px #FFC800;
border-radius: 5px;
background-color: #FFC800;
align-items: center;
margin: 15px auto;

}
form ::placeholder{
    font-family: "Roboto";
    color: white;
    font-size: 1rem;

}

h1{
    font-family: "Roboto";
    color: white;
    text-align: center;
}
h2{
    font-family: "Roboto";
    color: white;
    font-size: 1rem;
    text-align: center;
}

h3{
    font-family: "Roboto";
    color: white;
    font-size: 1rem;
    text-align: center;
}

.button{
    text-align: center;
}

div button{
    width: 200px;
    height: 30px;
    font-family: "Roboto";
    font-size: 1rem;
    color: white;
    border: solid 1px #FFC800;
    background-color: #FFC800;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}