

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: #212121;
    color: grey;
    font-family: 'Source Sans Pro', sans-serif;*/
}

main{ 
    background: #212121;
    color: grey;
}
.logo{
    width: 300px;
    height: 128px;
    display:flex;
    text-align: justify;
}
body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.1rem;
    font-family:'Fira Sans', sans-serif;
}
.product-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left:30px;
    margin-top: 30px;   
}
.product-container .item{
    width: 330px;
    height: 100%;
    border-radius: 5px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.product-container .item img{
    width: auto;
    height: 220px;
    transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;
}
.product-container .item:hover{
    transform: translateY(-15px);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.11);
}
.product-container .item img:hover{
    transform: scale(1.2, 1.2);
	z-index: 9;
}
h1{
    font-size: larger;
    font-weight: bold;
    color: black;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align:justify;
    padding-top: 40px;
    padding-left: 525px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
h3{
    color: #FFC800;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
}
.price{
    color: #FFC800;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 4px;
}
button{
    background-color:#FFC800;
    opacity:0.8;
    color: black;
    border-radius: 0.4em;
    width: 200px;
    font-weight: 800;
    font-size:medium;
}
i{
    background-color: #FFC800;
}
.description{
    color: grey;
}
/* CSS Carrito */
.my-shoppingcart {
    background-color: #747474;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    position: fixed;
    right: 0;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    /* height: 100%; */
    width:20%;
    animation-name: esconder;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes esconder {
    0% {width: 20% }
    100% {width: 5%;}
}
@keyframes aparecer {
    0% {width: 5% }
    100% {width: 20%;}
}
.my-shoppingcart:hover {
    animation-name: aparecer;
}
#truck {
    color: black;
    background-color: #747474;
}
figure img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;
}
.cart-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 24px;
}   
h4{
    font-size: medium;
    font-weight: bold;
    color: whitesmoke;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    font-family: 'Source Sans Pro', sans-serif;
}
.price-cart {
    color: #FFCB00;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-bottom: 0.1em;
    padding-top:  0.2em;
    font-family: 'Source Sans Pro', sans-serif;
}
.fa-arrow-circle-left{
    background-color: #747474;
}
.fa-arrow-circle-right{
    background-color: #747474;
}
#number{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    width: 22px;
} 
#trash{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    width: auto;
    cursor: pointer;
}
.fa-trash-alt{
    background-color: white;
}
.cart-total {
    font-size: medium;
    font-weight: bold;
    color: black;
    padding-left: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}
h5{
    font-size: 1.17em;
}
.total-payable{
    font-size: large;
    font-weight: bold;
    color: #FFCB00;
}
.payment-method{
    padding-bottom: 0.5em;
    padding-top:  0.2em;
}
#coupon input{
    padding: 5px;
    width:215px;
    text-align: center;
    color:#747474
}
.pay-cart{
    display: flex;
    padding-left: 28px;
    padding-bottom: 0.5em;
    padding-top:  0.2em;

}
#add {
    background-color: white;
    width:150px;
    font-family: 'Source Sans Pro', sans-serif;
}
.fa-cart-plus{
    background-color: white;
}
#pay {
    background-color: black;
    color:#FFC800;
    padding: 10px;
    margin-right: 10px;
    width:150px;
}
.fa-coins{
    background-color: black;
    color:#FFC800;
}
.manito{
    cursor: pointer;
    transition: all 0.3s ease-out;

}
.manito:hover{
    color: #747474;
    transform: scale(1.1, 1.1);
	z-index: 9;
}



