
@font-face {
    font-family: 'Afterglow';
    src: url('../fonts/Afterglow-Regular.ttf');
}
#anchor-header{
    color: #FFC900;
    text-decoration: none;
    font-weight: 900;
}
header{
    display: flex;
    border:solid 1px black;
    background-color: #040404;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';  
}
header img{
    height: 100px; 
    /* width: 1; */
    object-fit: fill; 
}
.caja{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 1px;
    font-family: 'Afterglow';
    src: url('../fonts/Afterglow-Regular.ttf');
}
header i{
    background-color: black;
}

.profile-disp{
    font-size: 10px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.profile-disp img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    }

    .dropdown-li {
        position: relative;
        z-index: 11;
      
        
      }
      
      .dropdown-li:hover .dropdown {
        display: block;
        opacity: 1;
        
      }
      
      .dropdown {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        display: none;
        background: #FFC900;
      

      }
    
      .dropdown li {
        list-style: none;
        margin-top: 5px;
        border-color:#040404;
        border-style: solid;
        margin: 0;
        padding: 0;
      }
      .dropdown a {
        text-decoration: none;
      }