
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: grey;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
.product-detail {
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
h1{
    font-size:larger;
    font-weight: bold;
    color:black;
    padding-left: 30px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: medium;
    font-weight: bold;
    color:whitesmoke
}
.price{
    color: #FFCB00;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-bottom: 2px;
    padding-top: 4px;
}
.cart-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
figure img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;
}
button{
    background-color:white;
    color:#ffffff;
    padding: 5px;
    border-radius: 20px;
    text-align:center;
    font-size: 12px;
    width: auto;
}
i{  
    color:black;
    background-color:white;
}
#truck{  
    color:black;
    background-color:grey;
}
#arrow{  
    color:black;
    background-color:grey;
}
#number{
    color: black;
}
.cart-total{
    font-size:medium;
    font-weight: bold;
    color:black;
    padding-left: 28px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}
.total-pagar{
    font-size:large;
    font-weight: bold;
    color:#FFCB00;
}
#cuopon{
    margin-top:10px;
    color: darkgrey;
    font-size:small;
    font-weight: bold;
    border-radius: 0px;
    font-size: 14px;
}
#add{
    color: black;
    font-size: 12px;
    font-size:small;
    font-weight: bold;
}
#pay{
    color: #FFCB00;
    background-color: black;
    font-size:larger;
    font-weight: bold;
}
.pay-cart{
    padding-left:28px;
}

