
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Prosto One', cursive; */
    
}
main{
    width: 100vw;
    height: 100vh;
  
    
}


.container-principal{
    width: 100vw;
    height: 550px;
    text-align: center; 
    background-image: url(../images/fondo9.png ) ;
    background-position-x: 50%;
    background-position-y: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;


}  
.container-principal div{
    width: 100%;
    height:  100%;
   display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: rgba(9, 9, 9, 0.553);
    

}


.container-principal div h1{
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    color: rgb(255, 255, 255);
  
}
.container-principal div h6{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
.container-nosotros{
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: black;
    color: #fff;
    display:flex ;
    
    
} 

 .container-nosotros div{
    width: 30%;
    margin: auto;
  
}

 .home{
    width: 100%;
   display: flex;

} 
.menu{
    /* background-image: url(../images/fondo-menu.png );
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center top;  */
     background-color: rgb(34, 34, 34);
}
.tragos{
    /* background-image: url(../images/fondo-tragos.png );
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(34, 34, 34);
}
.delivery{
    background-color: rgb(34, 34, 34)
}

.ubicacion{
    background-color: rgb(34, 34, 34);
}
.home article{
    
    border: 2px solid rgba(255, 255, 255, 0.488);
    width: 50%;
    height: 400px;
    display: flex;
   align-items: center;
   justify-content: center;
   
    

}

.home article div p {
  display: flex;
 justify-content: center;
 color: aliceblue;
}
.home article div a{
    display: flex;
   justify-content: center;
   color: rgb(117, 117, 182);
  }
  .home article div h4{
   color: #fff;
}