 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
@font-face {
    font-family: 'Afterglow';
    src: url('../fonts/Afterglow-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link{
    color: #FFC900;
}
/* header{
    display: flex;
    border:solid 1px black;
    height: 100%;
    justify-content: space-around;
    align-items: center;
} */

.caja{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 100%;
    margin: 1px;
}
.container-principal{
    width: 100vw;
    height: 550px;
    text-align: center; 
}  
 .principal{
    width: 100%;
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-color: rgba(9, 9, 9, 0.553);
    position: relative;
    z-index: 10;
}
.video-foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-background {
    background: #000;
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -100;
    height: 200%;
    width: 200%;
    opacity: 0.5;
  }
  .letra-slogan {
    position:absolute;
    z-index: 10;
  }


body{
    background-color: #040404;
    color: #ffff;
    width: 100%;
    height: 100%;
    letter-spacing: 0.3rem;
    font-family:'Roboto'
}
.title{
    text-align: center;
    font-size: 40px;
    color: #f7bd00;
    margin-top:  100px; ;
    
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    width: 330px;
    height: 430px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.11); */
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.11);
}

.container .card img{
    width: 330px;
    height: 220px;
}
.container .card h4{
    color: #FFCB00;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 25px;
}
.container .card p{
    font-size: 12px;
}

.img-principal{
    position:absolute;
    z-index: -0;
    width: 200px;
    height: 130px;
    left: 2px;
    bottom: 10px;
}
.container-principal div h1{
    font-family: 'Afterglow';
    font-size: 80px;
    color:#ffc800;
  
}
.container-principal div h6{
    font-family: 'Afterglow';
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}
.container-nosotros{
    width: 100%;
    background-color: #040404;
    color: rgb(255, 255, 255);
    display:flex ;
    text-align: center;
    justify-content: center;
    padding-bottom:30px;

} 
.container-nosotros div p{
    font-family: 'Roboto';
}

 .container-nosotros div{
    width: 50%;
}
.container-nosotros div h2{
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 55px;
    align-self: start;
    font-family: "Afterglow";
    display:flex;
    justify-content: center;
    align-items: baseline;
    color: #ffc800;
}
#question{
    font-family:'Source Sans Pro', sans-serif;
}

 .home{
    width: 100%;
    display: flex;
     border-top: 2px solid rgba(144, 144, 144, 0.488);
   /* border-left: 2px solid rgba(255, 255, 255, 0.488);
    border-right: 2px solid rgba(255, 255, 255, 0.488); */
} 
.menu{
     /* background-color: rgb(34, 34, 34); */
     border: 2px solid rgba(144, 144, 144, 0.482);
     margin-bottom: 2px;
     
}
.tragos{
    /* background-color: rgb(34, 34, 34); */
    margin-bottom: 2px;
}
.delivery{
    /* background-color: rgb(34, 34, 34); */
    border: 2px solid rgba(144, 144, 144, 0.482);
    margin-bottom: 2px;
}

.ubicacion{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}
section article{   
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img{
    width: 100%;
    height: 400px;
}
.img{
   width: 100%;
   height: 400px;
   position: relative;
   z-index: 1;
}
.container-descripcion{
    width: 50%;
    height: 400px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: rgba(9, 9, 9, 0.645);
    flex-direction: column;
    justify-content: center;
   align-items: center;
}


section article div h4{

    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 7px;
    padding-top: 4px;
}
.home article div p {

 color: aliceblue;
}
.home article div a{
  display: flex;
   justify-content: center;
   color: #ffc800;
  }
/*  
  footer{
    width: 100%  ;
    height: 400px ;
    background-color:  #ffc800 ;
  }
  .container-footer{
    width: 100%  ;
    height: 400px ;
    display: flex;
    justify-content: space-between;
  }
  .container-logo-footer{
    display: flex;
    align-items: center;
    width: 25%;
    flex-grow: 1;
  }
  .logo-footer{
    width: 80%;
    max-width: fit-content;
    height: 150px ; 
    flex-grow: 1;
}


.container-contacto{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    flex-grow: 2;
}
.contactos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
}


.mail-contacto{
    margin-bottom: 12px;
    align-self: center;
}

.container-redes{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    flex-grow: 2;

}
.container-footer article div h2{
    font-size: 25px;  
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-iconos{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    margin-left:70px; 
}
.container-redes .container-iconos a i{
    padding:8px;
    color: black;
    text-decoration: none;
}
.container-redes .container-iconos a  .icono-twiter{
   align-self: flex-start;
}

.container-footer article  form div label{
    font-size: 25px;  
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold
}
.container-form-footer{
    width: 25%;

}
.form-footer{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
}
.container-inputs{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.container-footer article  form div input,textarea{
    width: 60%;
    padding: 4px;
    margin: 6px;
    border-radius: 3px;
    border: #fff 1px solid;
}
.a-button{
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
   
}
.button{
    width: 60%;
    border-radius: 3px;
    border: #fff 1px solid;
}

.copyright{
    background-color:#ffc800;
    padding-left: 20px;
    margin-top:#ffc800;
}
*/
@media (max-width: 480px){
    .container-principal div h1{
        font-family: 'Oswald', sans-serif;
        font-size: 60px;
        color: rgb(196, 196, 196);
      
    }

    .container-nosotros div{
        width: 60%;
      
      
    }
    .container-nosotros div h2{
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 55px;
        align-self: start;
    }

    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
         border-top: 2px solid rgba(144, 144, 144, 0.488);
       /* border-left: 2px solid rgba(255, 255, 255, 0.488);
        border-right: 2px solid rgba(255, 255, 255, 0.488); */
    } 

    .home article{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;

    }

    section article div h4{
        font-size: 20px;
    }
    .container-descripcion{
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        background-color: rgba(9, 9, 9, 0.645);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 574px){

    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
      border-top: 2px solid rgba(144, 144, 144, 0.488);
 
    } 

    .home article{
        width: 100%;
        height: 400px;
        display: flex;
       align-items: center;
    }
    .container-descripcion{
        width: 100%;
        height: 400px;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        background-color: rgba(9, 9, 9, 0.645);
        flex-direction: column;
        justify-content: center;
       align-items: center;
    }
}
    /*  

    .container-form-footer{
        display: none;
    }
    .container-footer article div h2{
        font-size: 20px;  

    }

    .container-redes,.container-contacto{
        width: 50%;
        min-width: 140px;
    }
    .container-iconos, .contactos{
        font-size: 15px;
        width: 50%;
        /* min-width: none; 
    }

    
}

@media (max-width: 773px){

    .logo-footer, .container-logo-footer{
       display: none;
    }
  
    .container-contacto, .container-redes, .container-form-footer{
        width: 33%;
        min-width: 176px;
    }
}*/