<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section class="container-principal">
            <div class="principal"> 
                <div class="video-background">
                    <video class="video-foreground" muted autoplay loop>
                    <source src="/videos/dron.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="letra-slogan">         
                    <h1>clandestino</h1>
                    <h6>descubre las melodías y sabores del eje cafetero </h6>
                </div>
            </div>           
        </section>
    
        <section class="container-nosotros">
             <div class="nosotros">
                 <h2><p id="question">¿</p>Quiénes somos<p id="question">?</p> </h2>
                 <p>Somos un Gastropub moderno en el corazón del eje cafetero en la vibrante ciudad de Manizales, donde combinamos la pasión por la gastronomía y la coctelería en un ambiente único. Ofrecemos cervezas artesanales de emprendimientos locales y apoyamos a los músicos de la región, permitiendo a nuestros invitados conocer artistas independientes en nuestras pantallas y disfrutar de mini conciertos. En nuestra casa también encontrarás una taza de café de la mejor calidad, procuramos apoyar a nuestros campesinos y contribuir a la sostenibilidad de nuestro entorno. Ven a Clandestino Gastropub y descubre una experiencia diferente llena de sabor, música y  conciencia social.</p>
             </div>
        </section>
    
      <div class="carousel" data-carousel>
          <div class="carousel-buttons">
              <button
                class="carousel-button carousel-button_previous"
                data-carousel-button-previous
              >
                <span class="fas fa-chevron-circle-left"></span>
              </button>
              <button
                class="carousel-button carousel-button_next"
                data-carousel-button-next
              >
                <span class="fas fa-chevron-circle-right"></span>
              </button>
          </div>
            <div class="slides" data-carousel-slides-container>
              <div class="slide">
                <!-- imagen 1 carrusel -->
                <img src="/images/slide1.png" alt="Background Cerveza">
                <h2>cervezas artesanales</h2>
                <p>productos locales
              </div>
              <div class="slide">
                <!-- imagen 2 carrusel -->
                <img src="/images/slide2.png" alt="Background Portavasos">
                <h2>orgullosamente manizaleño</h2>
                <p>visita al buho comelón
              </div>
              <div class="slide">
                <!-- imagen 3 carrusel -->
                <img src="/images/slide3.png" alt="Background">
                <h2>mini conciertos</h2>
                <p>descubre nuevos artistas
              </div>
              <div class="slide">
                <!-- imagen 4 carrusel -->
                <img src="/images/slide4.png" alt="Clientes">
                <h2>clientes felices</h2>
                <p>nuestros invitados de honor
              </div>
              <div class="slide">
                <!-- imagen 5 carrusel -->
                <img src="/images/slide5.png" alt="Pasta">
                <h2>menú del día</h2>
                <p>encuentra un menú inspirado en un pais diferente 
              </div>
              <div class="slide">
                <!-- imagen 6 carrusel -->
                <img src="/images/slide6.png" alt="Logo Aviso">
                <h2>el buho</h2>
                <p>sigue la BUHISEÑAL
              </div>
              <div class="slide">
                <!-- imagen 7 carrusel -->
                <img src="/images/slide7.png" alt="Logo Aviso">
                <h2>delivery</h2>
                <p>eco-empaques
              </div>
              <div class="slide">
                <!-- imagen 8 carrusel -->
                <img src="/images/slide8.png" alt="Logo Aviso">
                <h2>entradas</h2>
                <p>yumi yumi
              </div>
              <div class="slide">
                <!-- imagen 9 carrusel -->
                <img src="/images/slide9.png" alt="Logo Aviso">
                <h2>sanduches</h2>
                <p>comida de autor
              </div>
              <div class="slide">
                <!-- imagen 10 carrusel -->
                <img src="/images/slide10.png" alt="Logo Aviso">
                <h2>hamburguesas</h2>
                <p>siempre deliciosas
              </div>
            </div>
          </div>
          
          <script>
            function modulo(number, mod) {
                let result = number % mod;
                if (result < 0) {
                    result += mod;
                }
                return result;
            }
    
            function setUpCarousel(carousel) {
                function handleNext() {
                    currentSlide = modulo(currentSlide + 1, numSlides);
                    changeSlide(currentSlide);
                }
    
                function handlePrevious() {
                    currentSlide = modulo(currentSlide - 1, numSlides);
                    changeSlide(currentSlide);
                }
    
                function changeSlide(slideNumber) {
                    carousel.style.setProperty('--current-slide', slideNumber);
                }
    
                // get elements
                const buttonPrevious = carousel.querySelector('[data-carousel-button-previous]');
                const buttonNext = carousel.querySelector('[data-carousel-button-next]');
                const slidesContainer = carousel.querySelector('[data-carousel-slides-container]');
    
                // carousel state we need to remember
                let currentSlide = 0;
                const numSlides = slidesContainer.children.length;
    
                // set up events
                buttonPrevious.addEventListener('click', handlePrevious);
                buttonNext.addEventListener('click', handleNext);
            }
    
            const carousels = document.querySelectorAll('[data-carousel]');
            carousels.forEach(setUpCarousel);
        </script>    
        <%- include('partials/footer.ejs') %>
</body>
</html>
