<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section class="container-principal">
      <div class="principal"> 
            <img src="/images/Cladestino _Logo-01copia.png" alt="" class="img-principal">         
                <h1>Clandestino</h1>
                <h6>2023</h6>
            </div>
      
        </section>
    
        <section class="container-nosotros">
             <div class="nosotros">
                 <h2>¿Quienes somos? </h2>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum commodi molestias, iure ut cum, ipsa accusamus laboriosam a alias, tempora esse blanditiis atque ad doloribus ullam nobis deleniti veritatis error!</p>
             </div>
        </section>
    
        <section class="home">
            <article class="menu">
                    <div class="container-img">
                        <img src="images/fondo10.png" alt="" class="img">
                    </div>
                    <div class="container-descripcion">
                        <p>Menú</p>
                        <h4>Nuestros platos</h4>
                        <a href="#">menu</a>
                    </div>
                
            </article>

            <article class="tragos">
                <div class="container-img">
                    <img src="images/fondo10.png" alt="" class="img">
                </div>
                <div class="container-descripcion">
                    <p>Bebidas</p>
                    <h4>Tragos y Cervezas</h4>
                    <a href="#">bebidas</a>
                </div>
            </article>
      </section>
      <section class="home">
            <article class="delivery">
                <div class="container-img">
                    <img src="images/fondo10.png" alt="" class="img">
                </div>
                <div class="container-descripcion">
                    <p></p>
                    <h4>Take away y Delivery</h4>
                    <a href="#">leer mas...</a>
                </div>
                
            </article>

            <article class="ubicacion">
                <div class="container-img">
                    <img src="images/fondo10.png" alt="" class="img">
                </div>
                <div class="container-descripcion">
                    <p></p>
                    <h4>¿Como llegar?</h4>
                    <a href="#">leer mas...</a>
                </div>
            </article>
        </section>
        <%- include('partials/footer.ejs') %>
</body>
</html>
