<!DOCTYPE html>
<html lang="en">

<head>
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <h1><p id="question">¿</p>Cómo llegar<p id="question">?</h1>
    
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.275390498805!2d-75.49127878255615!3d5.059045700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4765575f13e39f%3A0xfe64f939cfb921c2!2sClandestino%20Gastropub!5e0!3m2!1ses-419!2sco!4v1674484763645!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="enviar">
        <a href="/">
        <button type="submit" value="Volver">Volver</button>
        </a>
    </div>
</body>
</html>