<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="/css/style-login.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
        <title>principal</title>

    </head>
    <body>

        <div>
            <img class="imagen" src="/images/Frame-logo-login-01.png" alt="logo">
        </div>


        <form action="/login" method="Post">
            <div class="bienvenido">
                <h1>Bienvenido</h1>
            </div>
         
            <p>
                <input placeholder="Nombre" type="text" name="Nombre" id="Nombre">
            </p>
            <p>
                <input placeholder="Contraseña" type="password" name="password" id="password">
            </p>
            <p>
                <input placeholder="Login" type="text" name="contraseña">
                </p>
            <div class="pregunta1">
                <h2>¿Perdiste tu contraseña?</h2>
            </div>
            <div class="pregunta2">
                <h3>¿No tienes cuenta? Registrate</h3>  
            </div>
            
            <div class="volver">
                <button type="submit" value="Volver">Volver</button>
            </div>


        </form>
    </body>
</html>