<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <form action="/login" method="Post">
            <h1>Bienvenido</h1>
            <div>
            <div>
                <input placeholder="Nombre" type="text" name="Nombre" id="Nombre">
            </div>
            <div>
                <input placeholder="Contraseña" type="password" name="password" id="password">
            </div>
            <div>
                <input placeholder="Login" type="text" name="contraseña">
            </div>
            <h2>¿Perdiste tu contraseña?</h2>
            <h3>¿No tienes cuenta? Registrate</h3>
            <div class="button">
                <button type="submit" value="Volver">Volver</button>
            </div>
            </div>

