<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="/css/style-login.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
        <title>principal</title>

    </head>
=======
    <%- include('partials/head.ejs') %>
>>>>>>> f1ae5d0f45cfba2078f09122afd921ea9a7bf302
    <body>

        <div>
            <img class="imagen" src="/images/Frame-logo-login-01.png" alt="logo">
        </div>


        <form action="/login" method="Post">
            <h1>Bienvenido</h1>
            <div>
            <div>
                <input placeholder="Nombre" type="text" name="Nombre" id="Nombre">
            </div>
            <div>
                <input placeholder="Contraseña" type="password" name="password" id="password">
            </div>
            <div>
                <input placeholder="Login" type="text" name="contraseña">
            </div>
            <h2>¿Perdiste tu contraseña?</h2>
            <h3>¿No tienes cuenta? Registrate</h3>
            <div class="button">
                <button type="submit" value="Volver">Volver</button>
            </div>
            </div>

