<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>

    <h2>Sánduches</h2>
        <div class="product-container">
            <div class="item">
                <h3>Calamarada</h3>
                <img src="/images/delivery-products/sanduches/calamarada.jpg" alt="Calamarada">
                <p class="description">Pan brioche artesanal negro relleno de calamares en panko acompañados de rúgula, tomates cherry, queso mozarela y salsa alioli.</p>
                <p class="price">$21,000</p>
                <button> AGREGAR PRODUCTO  <i class="fas fa-shopping-bag"></i></button>
            </div>      
        </div>
        <div class="principal"> 
            <div class="video-background">
                <video class="video-foreground" muted autoplay loop>
                <source src="/images/videos/calamaradaId.mp4" type="video/mp4">
                </video>
            </div>
            
            <div class="letra-slogan">         
                <h1>clandestino</h1>
                <h6>Calamarada</h6>
            </div>
        </div>     
</main>
<%- include('partials/footer.ejs') %>
</body>
</html>