é<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
<body>
  <div class="container-reservation">
    <div class="logo">
      <a href="/"><img src="/images/buho.png" alt="logo"></a>
    </div>
    <div class="reservation-text">
        <p>Clandestino Gastropub es el lugar perfecto para celebrar tu evento especial, 
           ya sea una pequeña reunión o un espacio privado para grupos grandes, 
           estamos listos satisfacer todas tus necesidades.
        </p>
    </div> 
    <form action="#" method="post">
        <div class="elem-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" name="visitor_name" placeholder="Escribe tu nombre aquí" pattern=[A-Z\sa-z]{3,20} required>
        </div>
        <div class="elem-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="visitor_email" placeholder="Escribe tu correo aquí" required>
        </div>
        <div class="elem-group">
          <label for="phone">Teléfono</label>
          <input type="tel" id="phone" name="visitor_phone" placeholder="Escribe tu numéro de teléfono aquí" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
        </div>
        <hr>
        <div class="elem-group inlined">
          <label for="adult">Adultos</label>
          <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
        </div>
        <div class="elem-group inlined">
          <label for="child">Niños</label>
          <input type="number" id="child" name="total_children" placeholder="2" min="0" required>
        </div>
        <div class="elem-group inlined">
          <label for="checkin-date">Fecha de tu Reserva</label>
          <input type="date" id="checkin-date" name="checkin-date" required>
        </div>
        <div class="elem-group inlined">
          <label for="checkin-hour">Hora de tu Reserva</label>
          <input type="hour" id="checkoin-hour" name="checkin-hour" required>
        </div>
        <div class="elem-group">
          <label for="room-selection">Lugar de tu preferencia</label>
          <select id="room-selection" name="room_preference" required>
              <option value="">Elegir sala</option>
              <option value="Terraza">Terraza</option>
              <option value="Mesa VIP">VIP</option>
              <option value="Mesa Lounge">Lounge</option>
          </select>
        </div>
        <hr>
        <div class="elem-group">
          <label for="message">¿Necesitas algo más?</label>
          <textarea id="message" name="visitor-message" placeholder="Déjanos saber cualquier otra cosa que pueda ser importante." required></textarea>
        </div>
        <button type="submit">Reserva Ya</button>
      </form>
  </div>    
</body>
<footer>
<%- include('partials/footer.ejs') %>
</footer>
</html>