<footer>
    <section class="container-footer">

      <article class="container-logo-footer">
          <img src="/images/Cladestino _Logo-04.png" alt="" class="logo-footer">
       </article>
       
       <article class="container-contacto">
            <div>
              <h2>Contacto y <br> Ubicacion </h2>
            </div>
           <div class="contactos">
              <p class="mail-contacto">Calle 9999</p>
              <p class="mail-contacto">clandestino@gmail.com</p> 
              <p class="numero-contacto">15 5478 1233</p>
              
           </div>
       </article>

       <article class="container-redes">
         <div>
          <h2>  Siguenos en <br> nuestras redes</h2>
         </div>
          <div class="container-iconos">
              <a href="#"><i class="fab fa-instagram">Instagram</i></a>
              <a href="#"><i class="fab fa-twitter icono-twiter">Twiter </i> </a>
              <a href="#"><i class="fab fa-facebook-square">Facebook</i></a>
          </div>
       </article>

        <article class="container-form-footer">
           <form action="/" method="post" class="form-footer"> 
               <div class="container-label-footer">
                  <label for="nombre">Dejanos un <br> comentario!!!</label>
               </div>
           <div class="container-inputs">
          
               <input type="text" name="nombre" id="nombre" placeholder="nombre">

               <input type="text" placeholder="nombre de usuario" name="nombre-usuario" id="nombre-usuario">

               <textarea name="mensajes"placeholder="mensaje" id="" cols="24" rows="10"></textarea>

              <a href="/" class="a-button"> <button class="button" value="Enviar" >Enviar</button> </a>
          </div>
               </form>
        </article>
    </section>

      <p class="copyright">Copyright ©  Clandestino Bar. Todos los derechos reservado</p>         
</footer>